@media only screen and (min-width: 720px) {
    body.custom-desktop-size {
        width: 65%;
        margin: auto;
    }
}

html, .custom-container {
    background-color: #f7f7f7;
}

.custom-container {
    margin-top: 70px;
}

/*bordas das seções*/
.custom-form-ctn, .custom-consulta-show {
    border: 1px solid #ccc;
    background-color: #fff;
}

.custom-form-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.custom-consulta-show, .custom-consulta-hide {
    margin-top: 55px;
    justify-content: left;
    padding: 35px;
}

.custom-consulta-show p b, .custom-consulta-show p span  {
    color: #666;
}

.custom-consulta-hide {
    display: none;
}

.custom-form {
    display: flex;
}

.btn {
    background-color: #555;
    color: #fff;
    margin-left: 5px;
    border: none;
    border-radius: 0;
    padding: 15px;
}

.btn:focus, .btn:hover {
    background-color: #333;
}

.form-control {
    border-radius: 0;
}


.icon-search {
    color:#000;
    position:relative;
    left:-30px;
}

.icon-lupa {
    position: relative;
    z-index: 1;
    left: -150px;
    top: 18px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
}

.linha {
    flex-basis: 100%;
    height: 0;
  }

.custom-erro {
    text-align: center;
    color: #de0024;
    margin-top: -38px;
}

#custom-erro-icon {
    display: none;
}